*{
  margin: 0;
  padding: 0;
}

.hero{
  width: 100%;
  position: relative;
}

nav{
  background: #1d2026;
  color: #fff;
  display: flex;
  align-items: center;
  padding:10px 1%;
}

nav .menu-img{
  width: 10px;
  margin-right:20px;
  cursor: pointer;
}

nav .logo{
  width: 220px;
  cursor: pointer;
}
nav ul{
  flex: 1;
  text-align: right;
}

nav ul li{
  display: inline-block ; 
  list-style: none;
  margin: 0 20px ;
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  font-family: Verdana;  
  font-size: 15px;
}

li a:hover {
 color: #fecf3d;
}

.main{
  position: absolute;
  top: 34px;
  left: 40%;
  transform: translate(-50%,-50%);
}

input{
  border: 3px solid;
  height: 30px;
  width: 400px;
  border-radius: 50px;
  padding:0px 15px;
}

.btn{
  color: #1d2026;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fecf3d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px ;  
}

.footer {
  background: #1d2026;
  color: #fff;
  margin-top: 150px;

}
.lg{
  margin-left:50px;

}

.para{
  text-align: justify;
  text-justify: inter-word;
  width: 300px;
  margin : -295px 1200px 0px 280px;
  font-size: 16px;
  font-family: tahoma;
  color: #cfd0d2;
}

.sub{
  font-family: impact;
  font-size: 22px;
  margin-left: 900px;
  margin-top: -200px;
}

#eml{
  font-size: 15px;
  border-radius: 0;
  margin-left: 900px;
  margin-top: 10px;
}

#chkbx{
  margin-left: 750px;
  margin-top: 10px;
  height: 15px;
}

#nws{
  margin-left: 970px;
  margin-top: -20px;
  font-size: 15px;
  font-family: arial, sans-serif;
}

#sbmt{
  font-size: 18px;
  border-radius: 0;
  margin-left: 960px;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  padding: 0;
  font-family: impact;
  border-radius: 30px;
  background-color:  #fecf3d;
  color: #1d2026;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 150px 10px 0px 80px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin-right: 10px;
}

.fa-instagram {
  background: #E1306C;
  color: white;
}


p.copyright {
  width: 400px;
  color: #fff;
  line-height: 40px;
  font-size: 15px;
  font-family: tahoma;
  line-height: 1.2;
  margin: 10px 1370px 0px 90px ;
  padding: 10px;
}

.wrapper{
  margin:-420px 0px 0px 850px;
}

.hrr{
  margin-top: 100px;
}

